#education-section {
  background-color: #454545; /* Fondo semi-transparente negro */
  padding: 25px 20px;
  border-radius: 10px;
}

/* Títulos de las secciones */
.education-title {
  font-family: "Arial", sans-serif;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.education-subtitle {
  font-family: "Arial", sans-serif;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  font-weight: bold;
}

/* Diseño y estilo para las tarjetas */
.education-card {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2); /* Bordes con transparencia */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Sombra más suave */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* Fondo semi-transparente blanco */
}

.education-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 6px 15px #00000080; /* Sombra más prominente */
}

/* Estilo para los títulos dentro de las tarjetas */
.education-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff; /* Azul claro */
  margin-bottom: 15px;
  font-weight: bold;
  text-align: center;
}

.education-card-subtitle {
  font-size: 0.9rem;
  color: #cccccc; /* Texto gris claro */
  margin-bottom: 10px;
}

.education-card-location {
  font-size: 0.9rem;
  color: #b0b0b0; /* Texto gris más claro */
  margin-bottom: 10px;
  text-align: center;
}

.education-card-description {
  font-size: 0.9rem;
  color: #dddddd; /* Texto claro */
  line-height: 1.6;
}

/* Espaciado entre las tarjetas */
.education-card .card-body {
  padding: 20px;
}
.certificate-container {
  padding-top: 2rem;
}
/* Asegura margen en pantallas pequeñas */
@media (max-width: 576px) {
  .education-card {
    margin-bottom: 20px;
  }
}
