#experience {
  background-color: transparent;
  padding: 50px 20px;
  border-radius: 10px;
}

/* Títulos de las secciones */
.experience-title {
  font-family: "Arial", sans-serif;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3rem;
}

/* Diseño y estilo para las tarjetas */
.experience-card {
  border-radius: 10px;
  border: 1px solid #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #1e1e1e;
}

/* Estilo para los títulos dentro de las tarjetas */
.experience-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 15px;
  text-align: left;
}

/* Descripción en las tarjetas */
.experience-card-description {
  font-size: 0.9rem;
  color: #c0c0c0;
  line-height: 1.6;
}

/* Espaciado entre las tarjetas */
.experience-card .card-body {
  padding: 20px;
}

/* Asegura margen en pantallas pequeñas */
@media (max-width: 576px) {
  .experience-card {
    margin-bottom: 20px;
  }
}
