/* Estilos generales del footer */
.footer {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-text {
  margin: 10px 0;
  text-align: center; /* Asegura que el texto esté centrado */
}

.social-links {
  list-style-type: none;
  padding: 0;
}

.social-links li {
  display: inline;
  margin: 0 10px;
}

.social-links a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.social-links a:hover {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

@media (max-width: 768px) {
  .social-links li {
    display: block;
    margin: 5px 0;
  }
}
