/* Estilo general para la sección de habilidades */
#skills {
  padding: 2rem;
  background-color: transparent; /* El fondo lo manejará el body o un contenedor global */
  border-radius: 10px;
  margin-bottom: 2rem;
}

/* Título de la sección de habilidades */
#skills h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: #ffffff; /* Blanco para el título */
}

/* Lista de categorías */
.skills-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
}

/* Estilo de cada categoría */
.category {
  background-color: #1e1e1e; /* Un gris oscuro, más opaco */
  padding: 1.5rem;
  border-radius: 8px;
  border: 1px solid #333;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Título dentro de las categorías */
.category h3 {
  font-size: 1.6rem;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

/* Estilo de la lista de habilidades dentro de las categorías */
.category ul {
  list-style-type: none;
  padding-left: 0;
}

.category ul li {
  font-size: 1rem;
  color: #e0e0e0; /* Un gris más claro para mejor lectura */
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre el ícono y el texto */
}

/* Marcador de lista con color azul */
.category ul li::before {
  content: ""; /* Eliminamos el marcador de lista por defecto */
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  #skills {
    padding: 1rem;
  }

  #skills h2 {
    font-size: 2rem;
  }

  .skills-list {
    grid-template-columns: 1fr;
  }

  .category h3 {
    font-size: 1.6rem;
  }

  .category ul li {
    font-size: 0.9rem;
  }
}
