/* Estilo general para la sección de habilidades */
#skills {
  padding: 2rem;
  background-color: #454545; /* Fondo oscuro con transparencia */
  border-radius: 10px;
  margin-bottom: 2rem;
}

/* Título de la sección de habilidades */
#skills h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #ffffff; /* Blanco para el título */
}

/* Lista de categorías */
.skills-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
}

/* Estilo de cada categoría */
.category {
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* Fondo blanco semitransparente */
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Título dentro de las categorías */
.category h3 {
  font-size: 1.6rem;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

/* Estilo de la lista de habilidades dentro de las categorías */
.category ul {
  list-style-type: none;
  padding-left: 0;
}

.category ul li {
  font-size: 1rem;
  color: #dddddd; /* Gris claro para el texto */
  margin-bottom: 0.5rem;
}

/* Marcador de lista con color azul */
.category ul li::before {
  content: "⚪";
  color: #ffffff;
  margin-right: 0.5rem;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  #skills {
    padding: 1rem;
  }

  #skills h2 {
    font-size: 2rem;
  }

  .skills-list {
    grid-template-columns: 1fr;
  }

  .category h3 {
    font-size: 1.6rem;
  }

  .category ul li {
    font-size: 0.9rem;
  }
}
